{{- $section6   := .Site.Params.section6 }}
{{- $title      := index $section6 "title" }}
{{- $gpg        := index $section6 "gpg" }}
{{- $SHA256     := index $section6 "SHA256"}}
{{- $buttonText := index $section6 "buttontext" }}
{{- $buttonLink := index $section6 "buttonlink" }}
{{- $gpglink    := index $section6 "gpglink" }}
{{- $filesize   := index $section6 "filesize" }}}


<section class="section section-feature-grey is-medium" id="section6">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2> </div></br><br>
        <h3 class="subtitle is-5 is-muted"><b>File Size:</b> {{ $filesize }}</h3><br>
      <h3 class="subtitle is-5 is-muted"><b>GPG Key:</b> <a href="{{ $gpglink }}">{{ $gpg }}</a></h3><br>
      <h3 class="subtitle is-5 is-muted"><b>SHA256 Hash:</b> {{ $SHA256 }}</h3>

      <p class="has-text-centered mt-20">
        <a class="button cta is-large rounded primary-btn raised" href="{{ $buttonLink }}">
          {{ $buttonText }}
        </a>
      </p>
    </div>
  </div>
</section>